<h1>Label Maker</h1>
<table>
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>GTIN</th>
            <th>SKU</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.gtin}}</td>
            <td>{{this.sku}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
