<div>
    <h1 class="title">Label Maker</h1>
    <div class="field">
        <div class="control has-icons-left">
            <input id="search" class="input is-large" type="text" placeholder="Search items">
            <span class="icon is-left">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    
    <div class="box" id="search-results" style="display:none;">
        <ul id="results-list"></ul>
    </div>

    <div class="box" id="queue-box" style="display:none;">
        <h2 class="subtitle">Queue</h2>
        <div id="queue"></div>
        <button class="button is-primary" id="next-button">Next</button>
    </div>
</div>
